@charset "utf-8";
/* CSS Document */

*
				{
					margin:0px;
					padding:0px;
				}
				
body
				{
					font-family:Verdana, Geneva, Arial, sans-serif;
					font-size:12px;
					background:url(../Images/bg2.jpg) repeat-x;
				}
				
#page
				{
					width:980px;
					height:auto;
				}
				
.date
			{
				width:auto;
				height:auto;
				color:#000;
				padding:2px;
				float:left;
				margin-left:2%;
				font-size:11px;
				margin-top:3px;
			}
			
.date
			{
				width:auto;
				height:auto;
				color:#000;
				padding:2px;
				float:left;
				margin-left:2%;
				font-size:13px;
				font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
				margin-top:3px;
			}
				
.topnav
				{
					width:100%;
					height:30px;
					float:left;
					background:#a5d246;
				}
				
.topnavlinks
				{
					width:auto;
					height:30px;
					float:right;
					margin-right:15px;
					margin-top:7px;
					float:right;
					font-size:11px;
					color:#000;
				}
.topnavlinks a
					{
					color:#000;
					text-decoration:none;
					font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
					font-size:13px;
					}
					
.topnavlinks a:hover
					{
					color:#FFF;
					text-decoration:underline;
					}

				
.logo
				{
					width:auto;
					height:87px;
					padding:5px;
					float:left;
					margin-top:10px;
					margin-bottom:5px;
				}
				
.title
				{
					width:auto;
					height:auto;
					padding:5px;
					float:left;
					margin-top:25px;
					margin-left:15px;
					font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
					font-size:18px;
					font-weight:bold;
				}
				
/*------------------------------------------------- NAVIGATION ----------------------------------------------------*/
				
#navigation
				{
					width:100%;
					height:auto;
					float:left;
				}
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  height: 30px;
  background:#fffae4;
  border-bottom: 1px solid #fa3232;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background:url(../Images/manu_bg.jpg) repeat-x;
  color: #000;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 30px;
  padding: 0 17px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  color: #000;
  font-size: 13px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#cssmenu > ul > li:hover:after {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #db000b;
  margin-left: -10px;
}
#cssmenu > ul > li.active:after {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -10px;
}
#cssmenu > ul > li.active > a {
  background:#fa3232;
  color:#FFF;
}
#cssmenu > ul > li:hover > a {
  background:#a5d246;
  color:#FFF;
}
#cssmenu .has-sub {
  z-index: 200;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 180px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #a5d246;
  border-bottom: 1px dotted #FFFFFF;
  filter: none;
  font-size: 12px;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: #fa3232;
  color:#FFF;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #ed8880;
  color:#FFF;
  border-bottom: 1px dotted #FFFFFF;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #982723;
  color:#FFF;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

#content
			{
				width:980px;
				height:auto;
				float:left;
				clear:left;
			}
			
#left
			{
				width:260px;
				height:auto;
				float:left;
			}
			
.lefttitle
				{
					width:250px;
					height:auto;
					padding:5px;
					float:left;
					margin-top:5px;
					font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
					font-size:18px;
					font-weight:bold;
					color:#FFF;
					background:#fa3232;
				}
				
#leftcol
				{
				width:260px;
				height:1240px;
				float:left;
				margin-top:5px;
				background:#fffae4;
				}
				
.leftnav 			
				{
				width: 260px;
				text-align: left;
				color: #ebedeb;
				float:left;
				}
.leftnav li 		
				{ 
				margin: 0px 0px 10px 0px;
				height: 25px;
				font-family:Arial, Helvetica, sans-serif;
				list-style:none;
				border-bottom:#a5d246 solid 2px;
				}

.leftnav li a 	
				{
				color: #000000;
				text-decoration: none;
				padding: 10px 0 0 20px;
				margin-left:0px;
				display: block;
				height: 25px;
				background:#fffae4;
				font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
				font-size:13px;
				}

.leftnav li a:hover 
				{
				color: #FFF;
				text-decoration:none;
				background:#a5d246;
				display: block;
				height: 25px;
				}
				
#right
				{
					width:710px;
					height:auto;
					float:left;
					margin-top:5px;
					border-left:#333 solid 1px;
				}
				
.rightp
				{
					width:90%;
					height:auto;
					text-align:justify;
					line-height:18pt;
					font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
					font-size:13px;
				}
				
.ptitle
				{
					width:90%;
					height:auto;
					text-align:left;
					line-height:18pt;
					font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
					font-size:18px;
					font-weight:bold;
					color:#fff;
					padding:5px;
					margin-bottom:15px;
					background:#a5d246;
					float:left;
				}					
				
.ul
				{
					width:90%;
					height:auto;
					padding-left:10%;
					list-style:square;
					font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
					font-size:13px;
					line-height:18pt;
					float:left;
					text-align:left;
				}
				
#footer
				{
					width:100%;
					height:auto;
					float:left;
					margin-top:5px;
					padding:15px 0px 15px 0px;
					background:#a5d246;
					color:#fff;
					font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
					line-height:12pt;
					font-size:13px;
					border-bottom:#FA3232 solid 2px;
					border-top:#FA3232 solid 2px;
				}
							
#footer a
			{
			color:#fff;
			text-decoration:none;
			/*line-height:18pt;*/
			font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
			font-size:13px;
			}
			
#footer a:hover
			{
			color:#000;
			text-decoration:underline;
			}